{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>CSP Observer Admin - {% block title %}Base{% endblock title %}</title>
<meta name="description" content="A framework for launching new Django projects quickly.">
<meta name="author" content="">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

{% block css %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}
</head>

<body>
  <main role="main">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">
        <a href="{% url 'admin' %}">CSP Observer Admin</a>
      </h5>
      <nav class="my-2 my-md-0 mr-md-3">

      </nav>
    </div>
  </main>

  <div class="offset-md-1 col-md-10">
    {% block content %}
      <p>Default content...</p>
    {% endblock content %}
  </div>

  <div class ="offset-md-1 col-md-10">
    {% block reportTable %}
      <p>Report Table...</p>
    {% endblock reportTable %}
  </div>

  <div class ="offset-md-1 col-md-10" style="margin-top:60px;">
    {% block rulesTable %}
      <p>Rules Table...</p>
    {% endblock rulesTable %}
  </div>

  <br>
  <br>
  <div class="row offset-md-1" style="padding-bottom:50px;">

    <div class="card" style="width: 35rem">
      <div class="card-header">Diagram One</div>
      <div class="card-body">
        <h5 class="card-title">Diagram of something</h5>
        <br>
        <div>
          <canvas id="diagramOne" style="max-width: 500px;"></canvas>
        </div>
      </div>
    </div>

    <div class="card offset-md-1" style="width: 35rem">
      <div class="card-header">Diagram Two</div>
      <div class="card-body">
        <h5 class="card-title">Another diagram</h5>
        <br>
        <div>
          <canvas id="diagramTwo" style="max-width: 500px;"></canvas>
        </div>
      </div>
    </div>

  </div>

  <script src="{% static '/js/pieCharts.js' %}"></script>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Footer...</span>
    </div>
  </footer>



  {% block javascript %}
  <!-- Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- 3rd party JavaScript -->

  <!-- Project JS -->
  <script src="{% static 'js/base.js' %}"></script>

  {% endblock javascript %}

</body>
</html>
