{% extends 'admin/_base.html' %}
{% load static %}

{% block title %}Index{% endblock title %}

{% block content %}

<script type="text/javascript" src="{% static 'csp_observer/js/ignoreButton.js' %}"></script>

<h1>Custom Admin Page</h1>
<br>

{% endblock content %}

{% block reportTable %}
  <h3>Reports Table</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Blocked URL</th>
        <th scope="col">Effective directive</th>
        <th scope="col">Created at</th>
        <th scope="col">Ignore event</th>
      </tr>
    </thead>
    <tbody>
    {% for post in cspreports %}
        <tr>
          <th scope="row">*</th>
          <td>{{post.blocked_url}}</td>
          <td>{{post.effective_directive}}</td>
          <td>{{post.created_at}}</td>
          <td>
            <form method="POST">
                <input style ="display:none" id="blocked_url" type="text" name="blocked_url" value="{{ post.blocked_url }}">
                <input style ="display:none" id="title" type="text" name="title" value="title">
                <input style ="display:none" id="description" type="text" name="description" value="description">
                <input style ="display:none" id="effective_directive" type="text" name="effective_directive" value="{{ post.effective_directive }}">
                <input type="submit" class="btn btn-outline-danger" value="Ignore" name="mybtn"/>
            </form>
          </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if cspreports %}

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if cspreports.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ cspreports.previous_page_number }}&page2={{csprules.number}}">&laquo</a></li>
          {% endif %}

          {% for num in cspreports.paginator.page_range %}
            {% if cspreports.number == num %}
              <li class="page-item active"><a class="page-link" href="?page={{ num }}&page2={{csprules.number}}">{{ num }}</a></li>
            {% elif num > cspreports.number|add:'-3' and num < cspreports.number|add:'3' %}
              <li class="page-item"><a class="page-link" href="?page={{ num }}&page2={{csprules.number}}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}

          {% if cspreports.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ cspreports.next_page_number }}&page2={{csprules.number}}">&raquo</a></li>
          {% endif %}
        </ul>
      </nav>
  {% endif %}
{% endblock reportTable %}

{% block rulesTable %}
  <h3>Rules Table</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Blocked URL</th>
        <th scope="col">Effective directive</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
    {% for post in csprules %}
        <tr>
          <th scope="row">*</th>
          <td>{{post.blocked_url}}</td>
          <td>{{post.effective_directive}}</td>
          <td>{{post.title}}</td>
          <td>{{post.description}}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>

  {% if csprules %}

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if csprules.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{cspreports.number}}&page2={{ csprules.previous_page_number }}">&laquo</a></li>
          {% endif %}

          {% for num in csprules.paginator.page_range %}
            {% if csprules.number == num %}
              <li class="page-item active"><a class="page-link" href="?page1={{cspreports.number}}&page2={{ num }}">{{ num }}</a></li>
            {% elif num > csprules.number|add:'-3' and num < csprules.number|add:'3' %}
              <li class="page-item"><a class="page-link" href="?page={{cspreports.number}}&page2={{ num }}">{{ num }}</a></li>
            {% endif %}
          {% endfor %}

          {% if csprules.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{cspreports.number}}&page2={{ csprules.next_page_number }}">&raquo</a></li>
          {% endif %}
        </ul>
      </nav>
  {% endif %}
{% endblock rulesTable %}

{% block settingsTable %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Current Value</th>
    </tr>
  </thead>
  <tbody>
  {% for key, val in settings %}
      <tr>
        <td>{{key}}</td>
        <td>{{val}}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock settingsTable %}


