{% extends 'admin/_base.html' %}
{% load static %}

{% block title %}Index{% endblock title %}

{% block content %}

<script type="text/javascript" src="{% static '/js/ignoreButton.js' %}"></script>

<h1>Custom Admin Page</h1>
<br>

{% endblock content %}


{% block reportTable %}
<h3>Reports Table</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Blocked URL</th>
      <th scope="col">Effective directive</th>
      <th scope="col">Created at</th>
      <th scope="col">Ignore event</th>
    </tr>
  </thead>
  <tbody>
  {% for post in cspreports %}
    <tr>
      <th scope="row">*</th>
      <td>{{post.blocked_url}}</td>
      <td>{{post.effective_directive}}</td>
      <td>{{post.created_at}}</td>
      <td><button type="button" class="btn btn-outline-danger" onclick="IgnoreEvent('{{post.created_at}}');">Ignore</button></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock reportTable %}





